In [282]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
#from sklearn.naive_bayes import MultinomialNB
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from scipy.io import arff

In [283]:
dataset = pd.read_csv("DMProject.csv")
#read in data from ADLS and IADLs

In [284]:
columns=['ID', 'Ptype', 'ambu', 'bath', 'cog', 'dress', 'eat', 'fall', 'house',
       'incon', 'laundry', 'meal', 'med', 'toilet', 'transfer', 'transport',
       'hours', 'returned', 'lapsed']

In [285]:
dataset.columns=columns
dataset = dataset[dataset.Ptype =='EVV partner_1']

In [286]:
dataset = dataset[['ambu', 'bath', 'cog', 'dress',
       'eat', 'fall', 'house', 'incon', 'laundry', 'meal', 'med', 'toilet',
       'transfer', 'transport', 'lapsed']]

dataset.head()

,ambu,bath,cog,dress,eat,fall,house,incon,laundry,meal,med,toilet,transfer,transport,lapsed
53,8.0,13.0,3.0,13.0,9.0,8.0,11.0,9.0,14.0,11.0,6.0,13.0,7.0,6.0,False
384,15.0,15.0,3.0,15.0,13.0,12.0,14.0,14.0,11.0,15.0,16.0,15.0,15.0,16.0,False
385,23.0,25.0,2.0,30.0,23.0,20.0,29.0,23.0,22.0,29.0,29.0,28.0,26.0,27.0,False
386,57.0,43.0,13.0,56.0,57.0,69.0,61.0,62.0,63.0,62.0,67.0,59.0,59.0,63.0,False
387,4.0,3.0,0.0,5.0,6.0,6.0,6.0,3.0,6.0,3.0,3.0,5.0,4.0,6.0,False

In [287]:
pd.DataFrame(dataset).fillna(0)

,ambu,bath,cog,dress,eat,fall,house,incon,laundry,meal,med,toilet,transfer,transport,lapsed
53,8.0,13.0,3.0,13.0,9.0,8.0,11.0,9.0,14.0,11.0,6.0,13.0,7.0,6.0,False
384,15.0,15.0,3.0,15.0,13.0,12.0,14.0,14.0,11.0,15.0,16.0,15.0,15.0,16.0,False
385,23.0,25.0,2.0,30.0,23.0,20.0,29.0,23.0,22.0,29.0,29.0,28.0,26.0,27.0,False
386,57.0,43.0,13.0,56.0,57.0,69.0,61.0,62.0,63.0,62.0,67.0,59.0,59.0,63.0,False
387,4.0,3.0,0.0,5.0,6.0,6.0,6.0,3.0,6.0,3.0,3.0,5.0,4.0,6.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,6.0,114.0,0.0,114.0,114.0,110.0,108.0,114.0,114.0,114.0,114.0,114.0,108.0,114.0,False
979,4.0,21.0,8.0,24.0,18.0,16.0,24.0,18.0,0.0,24.0,0.0,24.0,9.0,0.0,False
981,18.0,15.0,0.0,15.0,0.0,12.0,18.0,15.0,0.0,18.0,6.0,15.0,0.0,0.0,False
982,72.0,101.0,37.0,109.0,3.0,77.0,111.0,30.0,111.0,111.0,111.0,74.0,75.0,110.0,False
985,60.0,61.0,25.0,78.0,0.0,62.0,75.0,0.0,9.0,78.0,0.0,81.0,84.0,0.0,False

In [288]:
dataset.shape
X = dataset.drop(['lapsed'], axis=1)
y = dataset['lapsed']

le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
y=le.fit_transform(y)

In [290]:
X_train, X_test, y_train, y_test = train_test_split(dataset, dataset['lapsed'], test_size=0.1, random_state=69)

In [291]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

In [292]:
np.where(np.isnan(X))
pd.DataFrame(y).fillna(0)
pd.DataFrame(X).fillna(0)

,ambu,bath,cog,dress,eat,fall,house,incon,laundry,meal,med,toilet,transfer,transport
53,8.0,13.0,3.0,13.0,9.0,8.0,11.0,9.0,14.0,11.0,6.0,13.0,7.0,6.0
384,15.0,15.0,3.0,15.0,13.0,12.0,14.0,14.0,11.0,15.0,16.0,15.0,15.0,16.0
385,23.0,25.0,2.0,30.0,23.0,20.0,29.0,23.0,22.0,29.0,29.0,28.0,26.0,27.0
386,57.0,43.0,13.0,56.0,57.0,69.0,61.0,62.0,63.0,62.0,67.0,59.0,59.0,63.0
387,4.0,3.0,0.0,5.0,6.0,6.0,6.0,3.0,6.0,3.0,3.0,5.0,4.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,6.0,114.0,0.0,114.0,114.0,110.0,108.0,114.0,114.0,114.0,114.0,114.0,108.0,114.0
979,4.0,21.0,8.0,24.0,18.0,16.0,24.0,18.0,0.0,24.0,0.0,24.0,9.0,0.0
981,18.0,15.0,0.0,15.0,0.0,12.0,18.0,15.0,0.0,18.0,6.0,15.0,0.0,0.0
982,72.0,101.0,37.0,109.0,3.0,77.0,111.0,30.0,111.0,111.0,111.0,74.0,75.0,110.0
985,60.0,61.0,25.0,78.0,0.0,62.0,75.0,0.0,9.0,78.0,0.0,81.0,84.0,0.0

In [293]:
sel = SelectFromModel(RandomForestClassifier(n_estimators = 100))
sel.fit(X_train, y_train)

sel.get_support()

selected_feat= X_train.columns[(sel.get_support())]
len(selected_feat)

print(selected_feat)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [272]:
np.isnan(X) # returns bool

np.where(np.isnan(X)) # returns array to find the missing values

(array([53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53]),
 array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13]))

In [246]:
#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = gnb.predict(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [234]:
# Create the classifier
model = GaussianNB()

In [ ]:
#apply it
model.fit(features,label)